<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/styles/css/user.css}">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#" id="brandName">Voting System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/" id="brandName">POLLS <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/edit" id="brandName">Edit profile</a>
      </li>
      </ul>
  </div>
    <span class="navbar-text" >
      <a id="brandName" href="/logout"><i class="fa fa-power-off"></i> Logout</a>
    </span>
</nav>

	<div class="container">
		<div class="container">
		<div class="jumbotron">
		<h1 th:text="${id}"></h1>
		<hr class="my-4">
					<form modelAttribute="voteresult" method="POST" th:action="'/user/'+${data.pollName}">

					<div class="form-group row">
						<label class="col-sm-3 col-form-label">Select an option to vote</label>
						 <select
							class="form-control col-sm-3" name="selectedValue">
							<option th:value="1" th:text="${data.choice1}"></option>
							<option th:value="2" th:text="${data.choice2}"></option>
							<option th:value="3" th:text="${data.choice3}"></option>
							<option th:value="4" th:text="${data.choice4}"></option>
						</select>
					</div>

					<button type="submit" class="btn btn-info">Vote</button>
					</form>
		</div>
		</div>
	</div>


</body>
</html>